In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({'name':['name1','name2','name3'],'shape':['2x4','5x6','7x8']})

In [4]:
df

    name shape
0  name1   2x4
1  name2   5x6
2  name3   7x8

In [10]:
df['y']=df['shape'].apply(lambda x: int(x.split('x')[1]))

In [11]:
df['x']=df['shape'].apply(lambda x: int(x.split('x')[0]))

In [12]:
df

    name shape  x  y
0  name1   2x4  2  4
1  name2   5x6  5  6
2  name3   7x8  7  8

In [13]:
df['x'].mean()

4.666666666666667

In [15]:
d2=df['x'].loc[lambda x: x>df['x'].mean()]

In [16]:
d2

1    5
2    7
Name: x, dtype: int64

In [19]:
d2=df['x'] > df['x'].mean()

In [20]:
d2

0    False
1     True
2     True
Name: x, dtype: bool